SUPERSET_SECRET_KEY=__generate_with_python_secrets_token_hex_32__
SUPERSET_USER=admin
SUPERSET_PASSWORD=__choose_a_password__
SUPERSET_PORT=8108
WAREHOUSE_URI=postgresql+psycopg2://demo:__pw__@chess-wrenai-postgres:5432/chess_wrenai_demo
